<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/login_style.css">
        <title>Flask Application</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock body %}

    {% block footer %}
        <div class="text-center">
            &copy; Copyright 2019 by <a href="/">Suvarna Joshi Purohit</a>.

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        </div>
    {% endblock %}
</body>
</html>